= render "shared/header.html.haml"

.request_index
  %h1=@request.title
  %h2
    %p 報酬金：¥#{@request.price}
    %p 場所：#{@request.location}
    %p 期限：#{@request.datelimit}
  - if @request.create_user == current_user.id
    .request_index__edit
      = link_to('依頼相手を決める', edit_request_path(@request))
.messages_area
  - @messages.each do |message|
    - if message.user_id == current_user.id
      .align-right
        .master-message 
          .master-message__info
            .master-message__info--user= message.user.name
            .master-message__info--datetime= message.created_at
          .master-message__text= message.text
          = image_tag message.image.url, class: ".master-message__image" if message.image.present?
    - else
      .message
        .message__info
          .message__info--user= message.user.name
          .message__info--datetime= message.created_at
        .message__text= message.text
        = image_tag message.image.url, class: ".message__image" if message.image.present?
      <br>
        
.message-form
  = form_for [@request, @message] do |f|
    = f.text_field :text, class: ".message-form__text"
    = f.file_field :image, class: ".message-form__image"
    = f.submit "送信", name: "commit", class: ".message-form__submit"

= render "shared/footer.html.haml"