= render "shared/header.html.haml"

.main
  = form_for @map do |f|
    タイトル※必須
    = f.text_field :title
    一言コメント※必須
    = f.text_field :coment
    .mapSearch__form
      マップ検索※必須
      = text_field_tag "address", "", id: "address", placeholder: "キーワードを入力"
      = button_tag "検索", id: "mapSearchBtn"
    #map
    .mapSearch__number
      .mapSearch__number--box
        = f.number_field :latitude, id: "mapLat", step: "0.000000000000001", readonly: true, placeholder: "検索すると自動入力"
      .mapSearch__number--box
        = f.number_field :longitude, id: "mapLng", step: "0.000000000000001", readonly: true, placeholder: "検索すると自動入力"

    = f.submit "登録"

= render "shared/footer.html.haml"